
/*  @import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Lexend:wght@100..900&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap'); */


.detailes_header{
    line-height: -4px !important;
}

.detailes_font_size {
    font-size: 0.80rem;   
}

.summary_styles {
    font-family: 'Lexend', sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}


.heading_first_letter:first-letter {
    text-transform:uppercase;
}

.heading_font{
    font-size: smaller;
}

.heading_line {
    height: 1px;
    background-color: black;
}


.react-text-editer p {
    line-height: 0.1px;
} 
